// Buttons

button,
.button {
  display: inline-block;
  margin: $button-margin;
  padding: $button-padding;
  min-width: $button-min-width;
  color: $button-color;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  letter-spacing: $button-letter-spacing;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: $button-background-color;
  border: none;
  border-radius: $button-border-radius;
  box-shadow: $button-shadow;
  @include transition-base;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include hover {
    color: $button-hover-color;
    background-color: $button-hover-background-color;
  }
  
  @include active {
    color: $button-active-color;
    background-color: $button-active-background-color;
  }

  @include disabled-hover {
    color: $button-disabled-color;
    background-color: $button-disabled-background-color;
    cursor: default;
  }
}

.button-bg {
  padding: $button-bg-padding;
  font-size: $button-bg-font-size;
  font-weight: $button-bg-font-weight;
  line-height: $button-bg-line-height;
  min-width: $button-bg-min-width;
}
