// Dev

body {
  background-color: #3e3e3e;
  color: #fafafa;
}

.info {
  position: relative;
  margin-bottom: 1.43rem;
}

.modal-contact {
  position: relative;
}

.modal-comment {
  position: relative;
}

.form {
  padding: 2.3rem 1.85rem;
  width: 21.23rem;
  background-color: #fafafa;
}

.green {

	&button,
	&.button {
		color: #fafafa;
		background-color: #00a15f;
	}
}
