// Modal contact

.modal-contact {
  position: absolute;
  width: 37.7rem;
  border-radius: .15rem;
  background-color: #fafafa;
  box-shadow: 0 .15rem .286rem 0 rgba(80, 92, 119, 0.25);

  &-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2.83rem;
  }

  &-title {
    margin-bottom: .8rem;
    padding: 1.2rem 2.83rem 0;
    color: #00a15f;
    font-size: 2.43rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  &-actions {
    padding: .2rem 2.83rem 1.5rem;
    text-align: right;
  }

  &-field {
    width: 15.71rem;
  }
}
