// Panel

.panel {
  position: relative;

  &-head {
    position: relative;
    width: 27.43rem;
    height: 2.857rem;
    background-color: #fafafa;
    box-shadow: 0 .15rem .286rem 0 rgba(0, 0, 0, 0.5);

    &-title {
      position: absolute;
      top: 0.65rem;
      left: 1.4rem;
      width: 8rem;
      color: #0f1c39;
      font-size: 1.143rem;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-text {
      position: absolute;
      top: 0.78rem;
      left: 9.85rem;
      width: 15rem;
      color: #0f1c39;
      font-size: 1rem;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-caret {
      position: absolute;
      right: 2rem;
      top: 1.3rem;
      cursor: pointer;

      &::after {
        content: "";
        display: block;
        width: .57rem;
        height: .57rem;
        border-bottom: .143rem solid #888b94;
        border-left: .143rem solid #888b94;
        transform: rotate(135deg);
      }
    }
  }

  &-body {
    position: absolute;
    top: 100%;
    left: 0;
    width: 27.43rem;
    background-color: #fafafa;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    border-bottom: .1rem solid #d8d8d8;
  }

  &-info {
    display: flex;
    margin: 1.6rem 0;
    padding: 0 1.1rem;
    width: 15rem;
    border-left: .1rem solid #d8d8d8;
  }

  &-description {
    margin-top: auto;
    color: #0f1c39;
    font-size: .786rem;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  &-actions {
    padding: 0.6rem 0.9rem 1.36rem;
    text-align: right;
  }
}
