// Progress

$progress-background: #98bbd2;
$progress-color: #2196f3;
$progress-height: .357rem;

.progress {
  margin-bottom: 2rem;
  position: relative;
  height: $progress-height;
  background-color: $progress-background;

  &-value {
    position: absolute;
    left: 0;
    top: 0;
    height: $progress-height;
    background-color: $progress-color;
    @include transition-base;
  }
}

@-webkit-keyframes indeterminate {
  0%{left:0%;width:0%}
  50%{left:25%;width:75%}
  75%{left:100%;width:0%}
}

.progress-indeterminate {
  margin-bottom: 2rem;
  position: relative;
  height: $progress-height;
  background-color: $progress-background;

  &-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: $progress-height;
    background-color: $progress-color;
    transition: width .2s cubic-bezier(.4,0,.2,1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: indeterminate;
  }
}
