// Spinner
// https://getmdl.io/components/index.html#loading-section

@import "spinner-keyframes";

$spinner-diametr: 4.7143rem;
$spinner-border-width: .5rem;
$spinner-color: #2196f3;

.mdl-spinner {
    display: inline-block;
    position: relative;
    width: $spinner-diametr;
    height: $spinner-diametr;
    -webkit-animation: mdl-spinner__container-rotate 1568.23529412ms linear infinite;
    animation: mdl-spinner__container-rotate 1568.23529412ms linear infinite;
}

.mdl-spinner__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
}

.mdl-spinner__layer-1 {
    -webkit-animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1)infinite both,mdl-spinner__layer-1-fade-in-out 5332ms cubic-bezier(.4,0,.2,1)infinite both;
    animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1)infinite both,mdl-spinner__layer-1-fade-in-out 5332ms cubic-bezier(.4,0,.2,1)infinite both;
}
.mdl-spinner--single-color .mdl-spinner__layer-1 {
    border-color: $spinner-color;
}
.mdl-spinner__layer-2 {
    -webkit-animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1)infinite both,mdl-spinner__layer-2-fade-in-out 5332ms cubic-bezier(.4,0,.2,1)infinite both;
    animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1)infinite both,mdl-spinner__layer-2-fade-in-out 5332ms cubic-bezier(.4,0,.2,1)infinite both;
}
.mdl-spinner--single-color .mdl-spinner__layer-2 {
    border-color: $spinner-color;
}
.mdl-spinner__layer-3 {
    -webkit-animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1)infinite both,mdl-spinner__layer-3-fade-in-out 5332ms cubic-bezier(.4,0,.2,1)infinite both;
    animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1)infinite both,mdl-spinner__layer-3-fade-in-out 5332ms cubic-bezier(.4,0,.2,1)infinite both;
}
.mdl-spinner--single-color .mdl-spinner__layer-3 {
    border-color: $spinner-color;
}
.mdl-spinner__layer-4 {
    -webkit-animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1)infinite both,mdl-spinner__layer-4-fade-in-out 5332ms cubic-bezier(.4,0,.2,1)infinite both;
    animation: mdl-spinner__fill-unfill-rotate 5332ms cubic-bezier(.4,0,.2,1)infinite both,mdl-spinner__layer-4-fade-in-out 5332ms cubic-bezier(.4,0,.2,1)infinite both;
}
.mdl-spinner--single-color .mdl-spinner__layer-4 {
    border-color: $spinner-color;
}

.mdl-spinner__gap-patch {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: $spinner-color;
}

.mdl-spinner__circle {
    box-sizing: border-box;
    height: 100%;
    border-width: $spinner-border-width;
    border-style: solid;
    border-color: $spinner-color;
    border-bottom-color: transparent!important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.mdl-spinner__circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: $spinner-color;
}

.mdl-spinner__left .mdl-spinner__circle {
    -webkit-animation: mdl-spinner__left-spin 1333ms cubic-bezier(.4,0,.2,1)infinite both;
    animation: mdl-spinner__left-spin 1333ms cubic-bezier(.4,0,.2,1)infinite both;
}
.mdl-spinner__left .mdl-spinner__circle {
    border-right-color: transparent!important;
    -webkit-transform: rotate(129deg);
    -ms-transform: rotate(129deg);
    transform: rotate(129deg);
}
.mdl-spinner__right .mdl-spinner__circle {
    -webkit-animation: mdl-spinner__right-spin 1333ms cubic-bezier(.4,0,.2,1)infinite both;
    animation: mdl-spinner__right-spin 1333ms cubic-bezier(.4,0,.2,1)infinite both;
}
.mdl-spinner__right .mdl-spinner__circle {
    left: -100%;
    border-left-color: transparent!important;
    -webkit-transform: rotate(-129deg);
    -ms-transform: rotate(-129deg);
    transform: rotate(-129deg);
}
.mdl-spinner__gap-patch .mdl-spinner__circle {
    width: 1000%;
    left: -450%;
}
.mdl-spinner__circle-clipper .mdl-spinner__circle {
    width: 200%;
}
