// Dropdown

.state {
  position: relative;
  display: inline-block;

  &-default {
    margin: 0 1.5em;
    padding: .57rem 0 .2rem;
    color: #fafafa;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    word-wrap: break-word;
    white-space: normal;
    outline: 0;
    min-height: 2.4rem;
    border-bottom: 0.15rem solid #bdbdbd;
    @include transition-base;

    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      margin-left: 0.4rem;
      border-style: solid;
      border-width: .357rem .2857rem 0 .2857rem;
      border-color: #fafafa transparent transparent transparent;
    }
  }

  &-list {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: -0.88rem 0 0;
    padding: 1rem 0;
    min-width: 6.7rem;
    cursor: auto;
    outline: 0;
    background-color: #fafafa;
    text-align: left;
    box-shadow: 0 .15rem .286rem 0 rgba(0, 0, 0, 0.25);
    border: .07rem solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
  }

  &-item {
    color: #0f1c39;
    font-size: 1rem;
    line-height: 1;
    padding: .643rem 1.5em;
    cursor: pointer;
    white-space: nowrap;
    @include transition-base;

    &:hover {
      background-color: #dee1e8;
    }

    @include disabled-hover {
      color: #bcbbba;
    }
  }

  &-item:first-child {
    color: #d50642;

    &:hover {
      background-color: transparent;
    }
  }
}
