// Task-list

$task-list2-item-image-diametr: 2.8571rem;

.task-list2 {
  margin: 0;
  padding: 0;

  &-item {
    position: relative;
    padding: 1.75rem 5.7rem;
    width: 27.14rem;
    height: 6.36rem;
    background-color: #fafafa;
    border-bottom: .1rem solid #d8d8d8;

    &-image {
      position: absolute;
      left: 1.4rem;
      top: 1.75rem;
      width: $task-list2-item-image-diametr;
      height: $task-list2-item-image-diametr;
      border-radius: 50%;
      background-color: #d50642;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }


    &-title {
      margin-bottom: 0.2rem;
      color: #0f1c39;
      font-size: 1.143rem;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    &-description {
      width: 13rem;
      color: #0f1c39;
      font-size: .786rem;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-time {
      position: absolute;
      right: 2.7rem;
      top: 2.7rem;
      color: #888b94;
      font-size: .786rem;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    &-menu {
      position: absolute;
      right: 0.7rem;
      top: 2rem;
    }
  }
}
