// Volume

$volume-height: .4286rem;
$volume-color: #4b5063;
$volume-color-hover: #d50642;
$volume-color-disabled: #e1e1e1;
$volume-back-color: #888b94;
$volume-back-color-disabled: #bcbbba;
$volume-color: #4b5063;
$volume-trigger-diametr: 1.143rem;
$volume-trigger-offset: $volume-height / 2 - $volume-trigger-diametr / 2;

.volume-item {
  position: relative;
  padding: 1rem 0;

  &-wrap {
    position: relative;
    height: $volume-height;
    background-color: $volume-back-color;
    border-radius: $volume-height / 2;
  }

  &-value {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $volume-color;
    border-radius: $volume-height / 2;
    @include transition-base;
  }

  &-trigger {
    position: absolute;
    width: 0;
    height: 0;
    right: $volume-height / 2;
    top: $volume-height / 2;
    background-color: $volume-color-hover;
    border-radius: 50%;
    cursor: pointer;
    @include transition-base;
  }
}

.volume-item:hover:not(.volume-item-disabled) {

  .volume-item {

    &-value {
      background-color: $volume-color-hover;
    }

    &-trigger {
      width: $volume-trigger-diametr;
      height: $volume-trigger-diametr;
      right: $volume-trigger-offset;
      top: $volume-trigger-offset;
      background-color: $volume-color-hover;
    }
  }
}

.volume-item-disabled {

  .volume-item {

    &-wrap {
      opacity: 0.7;
      background-color: $volume-back-color-disabled;
    }

    &-label { 
    }
  }
}
